<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ordergreen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="css/footer.css">
    <script src="main.js"></script>
</head>

<body>
    <nav class = "navbar"></nav>
    <header>
     


        <!-- <nav class="navbar"></nav> -->

    </header>

    

    <main>
        
    </main>

    <aside>
       
    </aside>

    <footer>
        
          

          <br> <br>
             
        </div>
        <div class="Contact Container">
           <div class="Contact">
           <h5>Contact Us!</h5>
           <i class="fa fa-map-marker" style="width:30px"></i> Vienna, Austria<br>
           <i class="fa fa-phone" style="width:30px"></i> Phone: +4364126165<br>
           <i class="fa fa-envelope" style="width:30px"> </i> Email: <a href="mailto:ordergreen@gmail.com">ordergreen@gmail.com</a><br>
         </div>
        </div>
         <aside>
            <h2>Shopping Cart</h2>
            <ul>
    
            </ul>
            <p>Total: <span id="sum">0.0</span>&euro;</p>                 
        </aside>
    </footer>

    <!-- <script src="js/home.js"></script>
    <script src="js/nav.js"></script>
    <script src="js/footer.js"></script> -->
  </body>
</html>