<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="css/footer.css">
    <script src="main.js"></script>
</head>

<body>

    <header>
        <img src="pictures/transparent-logog.png" alt="Bookstore Logo" />


        <nav>    
            <ul>
                <li><a href="feedback.html">Feedback</a></li>
                <li><a href="main.html">About</a></li>

                <li><a href="main.html">About</a></li>
                <li class="link-item"><a href="Order_Green_curency_convertor.html" class="link">Currency Converter</a>
                </li>

                <li class="link-item"><a href="FAQs.html" class="link">FAQs</a></li>
                <li class="link-item"><a href="index.html" class="link">Einkaufswagen</a></li>
                <li class="link-item"><a href="shop.html" class="link">Another Shop</a></li>
                <li class="link-item"><a href="login.html" class="link">Login</a></li>
                <li class="link-item"><a href="feedback.html" class="link">Contact Us!</a></li>
            </ul>
        </nav>

    </header>

    

    <main>
        
    </main>

    <aside>
       
    </aside>

    <footer>
        <div class ="footer-content">
          
          <div class="footer-col-2">
           <p>Follow us on:</p>
          <ul>
              <li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
              <li><a href="https://www.twitter.com/" target="_blank">Twitter</a></li>
              <li><a href="https://www.Instagram.com/" target="_blank">Instagram</a></li>
          </ul>
          </div>

        </div>

        <div class="Contact Container">
           <div class="Contact">
           <h5>Contact Us!</h5>
           <i class="fa fa-map-marker" style="width:30px"></i> Vienna, Austria<br>
           <i class="fa fa-phone" style="width:30px"></i> Phone: +4364126165<br>
           <i class="fa fa-envelope" style="width:30px"> </i> Email: <a href="mailto:ordergreen@gmail.com">ordergreen@gmail.com</a><br>
         </div>
        </div>
         <aside>
            <h2>Shopping Cart</h2>
            <ul>
    
            </ul>
            <p>Total: <span id="sum">0.0</span>&euro;</p>                 
        </aside>
    </footer>

</body>

</html>