<!DOCTYPE html>
<html lang="en">
<head>
<title>Ordergreen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="css/home.css">

</head>

<body>
    <nav class="navbar"></nav>



<section class = "product">
 <h2 class = "product-category">Recommended Produce</h2>
 <button class = "previous-button"><img src ="pictures/arrow.png" alt=""></button>
 <button class = "next-button"><img src ="pictures/arrow.png" alt=""></button>
<div class = "product-container">
    <div class = "product-card">
        <div class = "product-image">
            <span class = "tag">HOT!</span>
            <img  src ="pictures/watermelon.jpg" class = "product-watermelon" alt="">
            <button class="card-button">add to cart</button>
        </div>
        <div class = "product-info">
            <h2 class = "product-fruit">Watermelon</h2>
            <p class = "product-short-description">Fresh from a local market</p>
            <span class = "price">3€</span>
        </div>
    </div>
    <div class = "product-card">
        <div class = "product-image">
            <span class = "tag">HOT!</span>
            <img src ="pictures/Small_tomatoes.jpg" class = "product-watermelon" alt="">
            <button class="card-button">add to cart</button>
        </div>
        <div class = "product-info">
            <h2 class = "product-fruit">Tomatos</h2>
            <p class = "product-short-description">Fresh from a local market</p>
            <span class = "price">3€</span>
        </div>
    </div>
    <div class = "product-card">
        <div class = "product-image">
            <span class = "tag">HOT!</span>
            <img src ="pictures/Cucumber.jpg" class = "product-watermelon" alt="">
            <button class="card-button">add to cart</button>
        </div>
        <div class = "product-info">
            <h2 class = "product-fruit">Cucumbers</h2>
            <p class = "product-short-description">Fresh from a local market</p>
            <span class = "price">3€</span>
        </div>
    </div>
    <div class = "product-card">
        <div class = "product-image">
            <span class = "tag">HOT!</span>
            <img src ="pictures/onion.jpg" class = "product-watermelon" alt="">
            <button class="card-button">add to cart</button>
        </div>
        <div class = "product-info">
            <h2 class = "product-fruit">Onions</h2>
            <p class = "product-short-description">Fresh from a local market</p>
            <span class = "price">3€</span>
        </div>
    </div>
    <div class = "product-card">
        <div class = "product-image">
            <span class = "tag">HOT!</span>
            <img src ="pictures/banana.jpg" class = "product-watermelon" alt="">
            <button class="card-button">add to cart</button>
        </div>
        <div class = "product-info">
            <h2 class = "product-fruit">Bananas</h2>
            <p class = "product-short-description">Fresh from a local market</p>
            <span class = "price">3€</span>
        </div>
    </div>
    <div class = "product-card">
        <div class = "product-image">
            <span class = "tag">HOT!</span>
            <img src ="pictures/mango.jpg" class = "product-watermelon" alt="">
            <button class="card-button">add to cart</button>
        </div>
        <div class = "product-info">
            <h2 class = "product-fruit">Mangoes</h2>
            <p class = "product-short-description">Fresh from a local market</p>
            <span class = "price">3€</span>
        </div>
    </div>
    <div class = "product-card">
        <div class = "product-image">
            <span class = "tag">HOT!</span>
            <img src ="pictures/lettuce.jpg" class = "product-watermelon" alt="">
            <button class="card-button">add to cart</button>
        </div>
        <div class = "product-info">
            <h2 class = "product-fruit">Lettuces</h2>
            <p class = "product-short-description">Fresh from a local market</p>
            <span class = "price">3€</span>
        </div>
    </div>
</div>
</section>
<section class = "collection-container">
<a href = "#vegetables" class = "collection">
    <img src ="pictures/vegetables-collection.png" alt="">
    <p class = "collection-title">vegetables</p>
</a>
<a href = "#fruits" class = "collection">
    <img src ="pictures/fruits-collection.jpg" alt="">
    <p class = "collection-title">fruits</p>
</a>
</section>

<section class = "product" id = "vegetables">
    <h2 class = "product-category">vegetables</h2>
    <button class = "previous-button"><img src ="pictures/arrow.png" alt=""></button>
    <button class = "next-button"><img src ="pictures/arrow.png" alt=""></button>
   <div class = "product-container">
       <div class = "product-card">
           <div class = "product-image">
               <img src ="pictures/Carrot.jpg" class = "product-watermelon" alt="">
               <button class="card-button">add to cart</button>
           </div>
           <div class = "product-info">
               <h2 class = "product-fruit">Carrots</h2>
               <p class = "product-short-description">Fresh from a local market!</p>
               <span class = "price">3€</span>
           </div>
       </div>
       <div class = "product-card">
           <div class = "product-image">
               <img src ="pictures/potatoes.jpg" class = "product-watermelon" alt="">
               <button class="card-button">add to cart</button>
           </div>
           <div class = "product-info">
               <h2 class = "product-fruit">Potatos</h2>
               <p class = "product-short-description">Fresh from a local market!</p>
               <span class = "price">3€</span>
           </div>
       </div>
       <div class = "product-card">
           <div class = "product-image">
               <span class = "tag">HOT!</span>
               <img src ="pictures/Cucumber.jpg" class = "product-watermelon" alt="">
               <button class="card-button">add to cart</button>
           </div>
           <div class = "product-info">
               <h2 class = "product-fruit">Cucumbers</h2>
               <p class = "product-short-description">Fresh from a local market!</p>
               <span class = "price">3€</span>
           </div>
       </div>
       <div class = "product-card">
           <div class = "product-image">
               <span class = "tag">HOT!</span>
               <img src ="pictures/onion.jpg" class = "product-watermelon" alt="">
               <button class="card-button">add to cart</button>
           </div>
           <div class = "product-info">
               <h2 class = "product-fruit">Onions</h2>
               <p class = "product-short-description">Fresh from a local market!</p>
               <span class = "price">3€</span>
           </div>
       </div>
       <div class = "product-card">
           <div class = "product-image">
               <img src ="pictures/Peppers.jpg" class = "product-watermelon" alt="">
               <button class="card-button">add to cart</button>
           </div>
           <div class = "product-info">
               <h2 class = "product-fruit">Bell Peppers</h2>
               <p class = "product-short-description">Fresh from a local market!</p>
               <span class = "price">3€</span>
           </div>
       </div>
       <div class = "product-card">
           <div class = "product-image">
               <img src ="pictures/peas.jpg" class = "product-watermelon" alt="">
               <button class="card-button">add to cart</button>
           </div>
           <div class = "product-info">
               <h2 class = "product-fruit">Peas</h2>
               <p class = "product-short-description">Fresh from a local market!</p>
               <span class = "price">3€</span>
           </div>
       </div>
       <div class = "product-card">
           <div class = "product-image">
            <span class = "tag">HOT!</span>
               <img src ="pictures/lettuce.jpg" class = "product-watermelon" alt="">
               <button class="card-button">add to cart</button>
           </div>
           <div class = "product-info">
               <h2 class = "product-fruit">Lettuces</h2>
               <p class = "product-short-description">Fresh from a local market</p>
               <span class = "price">3€</span>
           </div>
       </div>
   </div>
   </section>
   <section class = "product" id = "fruits">
    <h2 class = "product-category">fruits</h2>
    <button  class = "previous-button"><img src ="pictures/arrow.png" alt=""></button>
    <button class = "next-button"><img src ="pictures/arrow.png" alt=""></button>
   <div class = "product-container">
       <div class = "product-card">
           <div class = "product-image">
               <span class = "tag">HOT!</span>
               <img src ="pictures/watermelon.jpg" class = "product-watermelon" alt="">
               <button class="card-button">add to cart</button>
           </div>
           <div class = "product-info">
               <h2 class = "product-fruit">Watermelon</h2>
               <p class = "product-short-description">Fresh from a local market</p>
               <span class = "price">3€</span>
           </div>
       </div>
       <div class = "product-card">
           <div class = "product-image">
               <span class = "tag">HOT!</span>
               <img src ="pictures/Small_tomatoes.jpg" class = "product-watermelon" alt="">
               <button class="card-button">add to cart</button>
           </div>
           <div class = "product-info">
               <h2 class = "product-fruit">Tomatos</h2>
               <p class = "product-short-description">Fresh from a local market</p>
               <span class = "price">3€</span>
           </div>
       </div>
       <div class = "product-card">
           <div class = "product-image">
               <img src ="pictures/apples.jpg" class = "product-watermelon" alt="">
               <button class="card-button">add to cart</button>
           </div>
           <div class = "product-info">
               <h2 class = "product-fruit">Apples</h2>
               <p class = "product-short-description">Fresh from a local market</p>
               <span class = "price">3€</span>
           </div>
       </div>
       <div class = "product-card">
           <div class = "product-image">
               <img src ="pictures/oranges.jpg" class = "product-watermelon" alt="">
               <button class="card-button">add to cart</button>
           </div>
           <div class = "product-info">
               <h2 class = "product-fruit">Oranges</h2>
               <p class = "product-short-description">Fresh from a local market</p>
               <span class = "price">3€</span>
           </div>
       </div>
       <div class = "product-card">
           <div class = "product-image">
               <span class = "tag">HOT!</span>
               <img src ="pictures/banana.jpg" class = "product-watermelon" alt="">
               <button class="card-button">add to cart</button>
           </div>
           <div class = "product-info">
               <h2 class = "product-fruit">Bananas</h2>
               <p class = "product-short-description">Fresh from a local market</p>
               <span class = "price">3€</span>
           </div>
       </div>
       <div class = "product-card">
           <div class = "product-image">
               <span class = "tag">HOT!</span>
               <img src ="pictures/mango.jpg" class = "product-watermelon" alt="">
               <button class="card-button">add to cart</button>
           </div>
           <div class = "product-info">
               <h2 class = "product-fruit">Mangoes</h2>
               <p class = "product-short-description">Fresh from a local market</p>
               <span class = "price">3€</span>
           </div>
       </div>
       <div class = "product-card">
           <div class = "product-image">
               <img src ="pictures/grapes.jpg" class = "product-watermelon" alt="">
               <button class="card-button">add to cart</button>
           </div>
           <div class = "product-info">
               <h2 class = "product-fruit">Grapes</h2>
               <p class = "product-short-description">Fresh from a local market</p>
               <span class = "price">2€ per kg</span>
           </div>
       </div>
   </div>
   </section>
   <footer>
 </footer>
<script src = "js/home.js"></script>
<script src = "js/nav.js"></script>
<script src = "js/footer.js"></script>
</body>
</html>